#root {
  font-size: 18px;
  height: 100%;
  width: 100%;
}

@import "./styles/settings";
@import "./styles/theme";
@import "./styles/elements";
@import "./styles/objects";
@import "./styles/utilities";
