// MAIN COLORS
$white-color: #fff;
$white-smoke-color: #f2f2f2;
$light-gray-color: #d4d4d4;
$silver-color: #bdbdbd;
$matterhorn-color: #4f4f4f;
$royal-blue-color: #4048ef;
$corn-blue-color: #5a7bef;
$black-color: #000;

// APP COLORS
$color-primary: $royal-blue-color;
$color-secondary: $corn-blue-color;

// TEXT COLORS
$text-color-primary: $matterhorn-color;
$text-color-secondary: $silver-color;

// BREAKPOINTS
$container-max-width: 768px;
